.Menorah {
    width: 100px;
    margin: 0 auto;
}

.Menorah__image {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0 0;
    max-width: 100%;
}

.Menorah__canvas {
    width: 100%;
    height: 250px;
}


/* Larger than mobile */

@media (min-width: 600px) {
    .Menorah__image {
        width: 100px;
        padding: 20px 0 0;
    }
}


/* Larger than tablet */

@media (min-width: 850px) {
    .Menorah__image {
        width: 200px;
        padding: 20px 0 0;
    }
}